.lable-div{
  display: flex;
  justify-content: space-between;
}
.error-message{
  color: red;
  font-size: 12px;
  padding-left: 10px;
}
.input{
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border : 1px solid lightgray;
}
.input:after{
  border-color: lightgray;
}
.input-error{
  width: 90%;
  height: 50px;
  border-radius: 5px;
  border:2px solid red;
  background-color: #daacac;
}